<vdl-title-bar title="Welcome"></vdl-title-bar>
<div class="row">
  <div class="col-lg-6">
    <vdl-card>
      <vdl-card-content>
        <p>We are still under development.</p>
        <!--<p>This is for demo purposes only</p>
        <ul>
          <li *ngFor="let project of projects">
              {{ project.projectName }}
          </li>
        </ul>-->
      </vdl-card-content>
    </vdl-card>
  </div>
</div>
<!--<div class="row">
  <div class="col-lg-6">
    <vdl-panel>
      <vdl-data-table
        [columnMode]="'force'"
        [columns]="columns"
        [headerHeight]="50"
        [limit]="5"
        [loadingIndicator]="loadingIndicator"
        [rowHeight]="'auto'"
        [rows]="rows"
        class="material"
      >
      </vdl-data-table>
    </vdl-panel>
  </div>
</div>-->
