.git
.jshintrc
.vscode
node_modules
src
test
tests
cicd
.gitignore
webpack.*.js
jsconfig.json
tsconfig.json
builtspecs
arp-*.tgz
protractor.*.js
test.bat
specs
screenshots
coverage
.nyc_output
jasmine.json
azure-pipelines.yml
junitresults.xml
CONTRIBUTING.md
VCLA_v1.2.pdf