input[type=text], input[type=password] {
  width: 90%;
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
}

.loginDiv {
  padding-left: 50px;
  padding-right: 30px;
}
  
.loginButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
}

.errorMessage {
  color: red;
}